/*kutular sabit genişlikte olsun */
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
 /*kutu genişlikleri */

 .col-1{width:8.33%;}
 .col-2{width:16,66%;}
 .col-3{width:25%;}
 .col-4{width:33.33%;}
 .col-5{width:41.66%;}
 .col-6{width:50%;}
 .col-7{width:58.33%;}
 .col-8{width:66.66%;}
 .col-9{width:75%;}
 .col-10{width:83.33%;}
 .col-11{width:91.66%;}
 .col-12{width:100%;}

 /* satırlar */
 .row{
    border: rgb(248, 194, 17) solid 2px;
    background-color: rgb(248, 194, 17);
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
 }

 /* satırları yanyana getirme */

 .row::after{
    content: "";
    clear: both;
    display: table;
 }

 /* tepkisel resim */

img{
    width: 100%;
    height: auto;
}

#ikon{
    
    width: 30px;
    height: 30px;
    float:right;
    margin-right: 5px;
}

/* "col-" yasla */

[class*="col-"]{
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

/* 768 px den küçük ekranlarda kutu genişliği */

@media screen and (max-width:768px){
    [class*="col-"]{width: 100%}
}

#ust{min-height: 100px;}
#menu{min-height: 70px;}
#orta{min-height: 400px;}
#alt{min-height: 70px;}

/*Anamenü */
#menu #anamenu ul{
    list-style-type: none;
}

#menu #anamenu ul li{
    border: 1px solid red;
    width: 25%;
    float: left;
    background-color:red;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

/*tepkisel menü butonları*/
@media screen and (max-width:500px) {
    #menu #anamenu ul li{width:100%}    
}

/* anamenü linkleri*/

#menu #anamenu a{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
   
}

#menu #anamenu a:hover{
    color:rgb(255, 251, 0);
    text-decoration: underline;
}

#menu #anamenu a:active, a:visited {
    color:darkorange;
}

/*altmenü*/
#alt #altmenu p{
    color:black;
    text-align: center;
}